# Environment variables
.env
.venv
myenv/
instance/

# Python cache
__pycache__/
*.pyc

# Data, logs, and uploads
# These will be handled by Render's services
database/
uploads/
logs/

# IDE settings
.vscode/
.idea/